<h3>Student Form</h3>

<%= form_for(@student) do |f| %>
  <label for="first_name">First name</label>
  <%= f.text_field :first_name %>

  <label for="last_name">Last name</label>
  <%= f.text_field :last_name %>

  <%= submit_tag "Create Student" %>
<% end %>
